:root {
    --black: rgb(0, 0, 0);
    --orange: rgb(174, 103, 22);
    --beige: rgb(220, 196, 166);
    --white: rgb(255, 255, 255);
    --white_transp: rgb(255, 255, 255, 0.6);
    --grey: rgb(146, 141, 134);
    --grey_transp: rgb(146, 141, 134, 0.6);

    font-size: 16px;
    font-family: 'Open Sans';
}

/* Universal styles for all elements */
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: var(--beige);

}

body::-webkit-scrollbar-thumb {
    background: var(--orange);
}

main {
    margin: 0;
    padding: 0;
}

.background-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.background-container img {
    width: 100vw;
    height: auto;
    display: block;
}

.home-overlay {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.home-overlay-title {
    width: 100vw;
    background-color: var(--white);
    padding: 50px;
    text-align: center;
    color: var(--beige);
}

.home-overlay-title h1 {
    margin: 0px;
    padding: 0px;
    font-size: 48px;
    font-weight: bold;
    color: var(--black);
    text-align: center;
    position: relative;
}

.home-overlay-content {
    margin-top: 20px;
    width: 60vw;
    text-align: left;
    color: var(--black);
    background-color: var(--white_transp);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 5px
}

/* Sidebar Styling */
.sidebar {
    width: 5rem; /* Sidebar width */
    height: auto;
    position: fixed;
    background-color: var(--white_transp);
    margin-top: 10rem;
    z-index: 1;
    transition: width 200ms ease;
}

.sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-item {
    margin: 5px;
    width: 100%;
}

.sidebar-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--black);
    text-decoration: none;
    filter: grayscale(0%) opacity(1);
    transition: 300ms;
}

.sidebar-link:hover {
    filter: grayscale(100%) opacity(0.7);
    background: var(--grey_transp);
}

.link-text {
    display: none;
    text-align: right;
}

.sidebar-link svg {
    min-width: 2rem;
    max-width: 4rem;
    min-width: 2rem;
    max-height: 4rem;
    margin: 1rem 1rem;
}

/* When Sidebar is hovered over */
.sidebar:hover {
    width: 12rem; /* Sidebar slides in */
    background-color: var(--white);
}

.sidebar:hover .link-text{
    display: block;
}

/* Toggle Button */
/* .toggle-btn {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    width: 60px;
    height: 60px;
    background: var(--white);
    color: var(--black);
    border: none;
    font-size: 40px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1;
} */

/* .toggle-btn:hover {
    background: var(--grey);
} */